GOOGLE_MAPS_API_KEY=
TEST_MODE=false
FEATURE_MORE_OPTIONS=false
RAZORPAY_SUPPORT_URL=https://rzp.io/rzp/midway
GEMINI_API_KEY=
OPENAI_API_KEY=
CLAUDE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SUPABASE_URL=
SUPABASE_ANON_KEY=
